.name {
    font-family: 'Montserrat', sans-serif;
}

.article_name {
    margin-left: 30vw;
}

.ul-modified {
    list-style: none;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.form-content {
    margin: 10px;
}

.decription{
    max-width: 500px;
    word-wrap: break-word;

    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;

}

