<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand name" href="{% url 'task_manager:index' %}"><strong>Managinator3000</strong></a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_manager:worker-list' %}">Workers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_manager:task-list' %}">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_manager:task-type-list' %}">Task Types</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_manager:position-list' %}">Positions</a>
      </li>
    </ul>

  </div>
   {% if user.is_authenticated %}
    <div>
      <span class="link-to-page"> Hello, {{ user.username }}! </span>
      <hr>
      <a href="{% url 'logout' %}?next={{request.path}}" class="link-to-page link-to-line">Logout</a>
    </div>
  {% else %}
    <a href="{% url 'login'%}?next={{request.path}}" class="link-to-page">Login</a>
  {% endif %}
</nav>