{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <section class="gradient-custom wrapper" style="background-size: 100%">
    <div class="main-content">
      <div class="container py-4 h-100" id="blockContent">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4 pb-5">
                  <h1>{{ object|yesno:"Update,Create" }} task</h1>
                  <form action="" method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeNameX">Name*</label>
                      <input type="text" id="typeNameX" class="form-control form-control-lg" name="{{ form.name.name }}">
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeDescription">Description</label>
                      <textarea name="{{ form.description.name }}" cols="40" rows="10" class="textarea form-control" id="typeDescription" style="height: 188px;"></textarea>
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeDeadlineX">Deadline*</label>
                      <input type="date" id=typeDeadlineX class="form-control form-control-lg dateinput" placeholder="Select a date" name="{{ form.deadline.name }}">
                      {% if form.deadline.errors %}
                        <ul>
                          {% for error in form.deadline.errors %}
                            <li class="text text-danger">{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeIsCompletedX">Is Completed</label>
                      <input type="checkbox" name="is_completed" id="typeIsCompletedX">
                    </div>
                    <div class="form-outline form-white mb-4">
                      {{ form.priority|as_crispy_field }}
                    </div>
                    <div class="form-outline form-white mb-4">
                      {% if not object %}
                        {{ form.task_type|as_crispy_field }}
                      {% endif %}
                    </div>
                    <div class="form-outline form-white mb-4">
                    </div>
                    <div class="form-outline form-white mb-4">
                      {{ form.assignees|as_crispy_field }}
                    </div>

                    <input type="submit" value="Submit" class="btn btn-primary">
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}