{% extends "base.html" %}

{% block content %}
  <div class="main-content">

    <div>
      <form action="{% url "task_manager:task-update-worker" pk=task.id %}"
             method="post">
        {% csrf_token %}
        <h1>
            <strong>{{ task.name }} ({{ task.task_type }})</strong>
            {% if request.user in task.assignees.all %}
              <input
                  type="submit"
                  class="btn btn-danger link-to-page"
                  value="Remove me from this task" />
            {% else %}
              <input
                  type="submit"
                  class="btn btn-success link-to-page"
                  value="Assign me to this task" />
            {% endif %}
        </h1>

      </form>


    </div>
    <p><strong>Task description:</strong></p>
    <div class="decription">
      {% if task.description %}
        {{ task.description }}
      {% else %}
        There is no task description now...
      {% endif %}
    </div>
    <br>
    <p><strong>Task deadline:</strong> {{ task.deadline }}</p>
    <p><strong>Is completed:</strong> {{ task.is_completed }}</p>

    <div class="ml-3">
      <h4>Workers</h4>
      {% if task.assignees.all %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Username</th>
          <th>Position</th>
        </tr>
      {% for worker in task.assignees.all %}
          <td>{{ worker.id }}</td>

          <td><a href="{% url 'task_manager:worker-detail' pk=worker.id %}">{{ worker.first_name }} {{ worker.last_name }}</a></td>
          <td>{{ worker.username}}</td>
          <td>{{ worker.position }}</td>
        </tr>
      {% endfor %}

      </table>
      {% else %}
        <p>There are no workers assigned to this task</p>
      {% endif %}
    </div>
    <a href="{% url 'task_manager:task-update' pk=task.id %}" class="btn btn-primary">
      Update
    </a>
    <a href="{% url 'task_manager:task-delete' pk=task.id %}" class="btn btn-danger">
        Delete
    </a>
  </div>
{% endblock %}