{% extends "base.html" %}

{% block content %}
  <h1><strong>Delete Driver</strong></h1>
  <p>Are you sure that you want to delete worker {{ worker.first_name }} {{ worker.last_name }} ({{ worker.username }})?</p>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, I want to delete!" class="btn-danger">
    <input type="button" onclick="window.location.href='{% url 'task_manager:worker-list' %}'" value="No, I want return to worker list!" class="btn-success">
  </form>
{% endblock %}