{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <a href="#" class="btn btn-danger link-to-page">
      Delete
    </a>

  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>

  <div class="ml-3">
    <h4>Tasks</h4>
    {% if worker.tasks.all %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Task Type</th>
        <th>Deadline</th>
        <th>Is Completed</th>
        <th>Priority</th>
      </tr>
    {% for task in worker.tasks.all %}
      {% if task.is_completed %}
        <tr class="table-success">
      {% endif %}
        <td>{{ task.id }}</td>

        <td><a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a></td>
        <td>{{ task.task_type }}</td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.is_completed }}</td>
        <td>{{ task.priority }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>This worker has no tasks now</p>
    {% endif %}
  </div>
{% endblock %}